body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

header {
    background-color: #345771;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

header img {
    height: 120px; /* ou la taille que vous souhaitez pour votre logo */
    width: auto; /* maintient l'aspect ratio de l'image */
    margin-left: auto;
    transform: translateX(22%);
    
}

#seDeconnecter {
    background-color: #f44336; /* Red for logout */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; 
    margin-left: auto;
}

#seDeconnecter:hover {
    background-color: #c0392b; /* Rouge plus foncé au survol */
}

.banniereBienvenue {
    background-color: #345771;
    opacity: 0.8;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.banniereBienvenue h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5em; /* Grande taille pour le titre */
}

.banniereBienvenue p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

/* Reste du CSS */

/* Style pour le conteneur de la table */
.listeApprentis {
    overflow-x: auto;
    margin: 20px auto; /* Centre le conteneur */
    background: white;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%; /* Vous pouvez ajuster ceci selon la largeur désirée */
    max-width: 1200px; /* Maximum width of the container */
}

/* Style pour la table elle-même */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd; /* Ajout d'une bordure pour le tableau */
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #003366;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e8f0fe;
}

/* Reste du CSS */



footer {
    background-color: #345771;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed; /* Pour eviter le scroll de la page */
    bottom: 0;
    width: 100%;
}

.footer-link {
    display: inline-block; /* ou 'block' si vous voulez que chaque lien soit sur une ligne séparée */
    margin: 0 10px; /* ajustez l'espacement selon vos besoins */
    color: white; /* ou toute autre couleur de texte souhaitée */
    text-decoration: none; /* retire le soulignement par défaut des liens */
}

.footer-link:hover {
    text-decoration: underline; /* ajoute un soulignement au survol pour indiquer qu'il s'agit d'un lien */
}


/* Style général pour les sections */
#DevoirSection, #supprimerApprentiSection {
    margin: 20px;
    padding: 5px;
    width: 920px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #ededed;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Styles pour les formulaires */
form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

/* Styles pour les inputs et select */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select {
    padding: 10px;
    border: 1px solid #003366;
    border-radius: 4px;
    width: 100%;
    max-width: 220px; /* Ajustez cette valeur en fonction de votre mise en page */
    box-sizing: border-box;
}

/* Style pour le bouton d'ajout et de suppression */
input[type="submit"] {
    padding: 10px 20px;
    background-color: #5cb85c; /* Couleur verte pour ajouter */
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #4cae4c; /* Couleur un peu plus foncée lors du survol */
}




/* Style spécifique pour le bouton de suppression */
#supprimerApprentiSection input[type="submit"] {
    background-color: #d9534f; /* Couleur rouge pour supprimer */
}

#supprimerApprentiSection input[type="submit"]:hover {
    background-color: #c9302c; /* Couleur un peu plus foncée lors du survol */
}

/* Espacement entre les éléments du formulaire /
form input, form select {
margin-bottom: 10px; / Espacement entre les champs */


/* Style pour les titres des sections */
#ajoutApprentiSection h2, #supprimerApprentiSection h2 {
color: #333;
margin-bottom: 15px;
}

/* Alignement des boutons à droite pour une meilleure esthétique */
form {
justify-content: flex-end;
}

/* Ajustement pour les écrans plus petits */
@media (max-width: 768px) {
form {
flex-direction: column;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select,
input[type="submit"] {
    max-width: 100%;
}
}
