header {
  background-color: #345771;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

header img {
  height: 120px; /* ou la taille que vous souhaitez pour votre logo */
  width: auto; /* maintient l'aspect ratio de l'image */

}

.divBouton input[type="submit"],
.divBouton button {
  background-color: #c8c6c6; /* Couleur de fond du bouton */
  color: #ffffff; /* Couleur du texte du bouton */
  padding: 10px 20px; /* Espacement intérieur pour rendre le bouton plus grand */
  border: none; /* Supprime la bordure par défaut */
  border-radius: 10px; /* Arrondit les coins du bouton */
  font-size: 16px; /* Taille du texte */
  cursor: pointer; /* Change le curseur lorsque vous survolez le bouton */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre */
  margin: 15px; /* Espacement autour du bouton */
  transition: background-color 0.3s ease; /* Anime le changement de couleur de fond */
}

.divBouton h2{
    background-color: #345771;
    color: white;
    padding: 1%;


}

.divBouton input[type="submit"]:hover,
.divBouton button:hover {
  background-color: #e0e0e0; /* Couleur de fond du bouton au survol */
}





.divBouton {
  text-align: center; /* Centre les boutons dans la div */
  /* Autres styles nécessaires pour positionner la div elle-même, si nécessaire */;
}




.divImageDeFond {
  width: 100%;
  overflow: hidden; /* pour s'assurer que l'image ne dépasse pas du conteneur */
  position: relative;
}

.divImageDeFond img {
  width: 100%;
  height: auto; /* Ajuste la hauteur tout en conservant le ratio d'aspect de l'image */
  opacity: 0.4;
  
}

.divFondBlancBas {
  padding: 5em 0; /* Par exemple, cela donnerait un padding vertical sans affecter les côtés horizontaux */
}

.divImageDeFond {
  position: relative; /* Assurez-vous que le parent a une position relative pour positionner absolument le texte par rapport à lui */
}

.texteSurImage {
  position: absolute; /* Position absolue pour superposer le texte sur l'image */
  top: 50%; /* Centre verticalement */
  left: 50%; /* Centre horizontalement */
  transform: translate(-50%, -50%); /* Assure que le texte est bien centré par rapport à ses coordonnées */
  color: white; /* Couleur du texte */
  font-size: 2.2em; /* Taille du texte */
  text-align: center; /* Alignement du texte */
  max-width: 80%; /* Maximum width of the text block */
  background: -webkit-linear-gradient(45deg, #d55f5f, #345771); 
  /* background-color: #000; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Assurez-vous que le texte prend la couleur du dégradé */
  z-index: 10; /* S'assure que le texte est au-dessus de l'image */
  font-weight: 200;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}





footer {
  background-color: #345771;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed; /* Pour eviter le scroll de la page */
  bottom: 0;
  width: 100%;
}

.footer-link {
  display: inline-block; /* ou 'block' si vous voulez que chaque lien soit sur une ligne séparée */
  margin: 0 10px; /* ajustez l'espacement selon vos besoins */
  color: white; /* ou toute autre couleur de texte souhaitée */
  text-decoration: none; /* retire le soulignement par défaut des liens */
}

.footer-link:hover {
  text-decoration: underline; /* ajoute un soulignement au survol pour indiquer qu'il s'agit d'un lien */
}

/* Style pour le modal background */
.modal {
  display: none; /* Masqué par défaut */
  position: fixed; /* Position fixe par rapport à la fenêtre de visualisation */
  z-index: 1; /* S'assure que le modal est au-dessus des autres éléments */
  left: 0;
  top: 0;
  width: 100%; /* Largeur totale */
  height: 100%; /* Hauteur totale */
  overflow: auto; /* Permet le scroll si nécessaire */
  background-color: rgb(0,0,0); /* Fond noir */
  background-color: rgba(0,0,0,0.4); /* Noir avec opacité */
}


/* Style pour le contenu modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% du haut et centré horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Largeur du contenu modal */

  
}

/* Style pour le bouton de fermeture */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

